$margin-right: 25px;
$margin-left: 25px;

body {
	margin: 0 0px 0 0px;
	padding: 0;
	// background-color: rgb(250, 249, 248);
}
svg {
	fill: #ff6b09;
}
ul {
	list-style: none;
}
.box margin {
	margin-left: 15px;
	margin-right: 15px;
}

